In [2]:
import pandas as pd

In [3]:
df = pd.read_json("/home/user/Documents/finalProject/Project-icrisat/icrisat-crops.json")
df

,dist_code,year,state,state_name,dist_name,rice_area,rice_prod,rice_yield,wheat_area,wheat_prod,...,soyabean_yield,oilseeds_area,oilseeds_prod,oilseeds_yield,sugarcane_area,sugarcane_prod,sugarcane_yield,cotton_area,cotton_prod,cotton_yield
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,0.00,50.70,-1.00,-1.00,0.90,1.60,1777.78,0.0,0.0,0.0
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,0.00,113.55,-1.00,-1.00,0.80,1.20,1500.00,0.0,0.0,0.0
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,0.00,126.62,-1.00,-1.00,1.00,1.00,1000.00,0.0,0.0,0.0
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,0.00,114.14,14.90,130.54,1.00,1.90,1900.00,0.0,0.0,0.0
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,0.00,126.40,24.30,192.25,0.70,1.40,2000.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2009,14,Chhattisgarh,Bastar,626.66,682.46,1089.04,1.64,2.95,...,1500.00,10.51,4.76,452.90,1.03,0.34,330.10,0.0,0.0,0.0
96,2,2010,14,Chhattisgarh,Bastar,621.89,1184.98,1905.45,1.60,3.20,...,0.00,24.23,7.35,303.34,1.02,0.12,117.65,0.0,0.0,0.0
97,2,2011,14,Chhattisgarh,Bastar,627.73,772.88,1231.23,1.33,2.49,...,1000.00,22.57,7.50,332.30,0.54,0.34,629.63,0.0,0.0,0.0
98,2,2012,14,Chhattisgarh,Bastar,637.80,1341.33,2103.06,1.25,2.47,...,1333.33,21.95,7.10,323.46,0.45,0.16,355.56,0.0,0.0,0.0
99,2,2013,14,Chhattisgarh,Bastar,642.79,1265.91,1969.40,0.97,1.75,...,1000.00,20.29,6.67,328.73,0.52,0.14,269.23,0.0,0.0,0.0

In [4]:
df.columns

Index(['dist_code', 'year', 'state', 'state_name', 'dist_name', 'rice_area',
       'rice_prod', 'rice_yield', 'wheat_area', 'wheat_prod', 'wheat_yield',
       'kharif_sorghum_area', 'kharif_sorghum_prod', 'kharif_sorghum_yield',
       'rabi_sorghum_area', 'rabi_sorghum_prod', 'rabi_sorghum_yield',
       'sorghum_area', 'sorghum_prod', 'sorghum_yield', 'pearl_millet_area',
       'pearl_millet_prod', 'pearl_millet_yield', 'maize_area', 'maize_prod',
       'maize_yield', 'finger_millet_area', 'finger_millet_prod',
       'finger_millet_yield', 'barley_area', 'barley_prod', 'barley_yield',
       'chickpea_area', 'chickpea_prod', 'chickpea_yield', 'pigeonpea_area',
       'pigeonpea_prod', 'pigeonpea_yield', 'minor_pulses_area',
       'minor_pulses_prod', 'minor_pulses_yield', 'groundnut_area',
       'groundnut_prod', 'groundnut_yield', 'sesamum_area', 'sesamum_prod',
       'sesamum_yield', 'rapeseed_area', 'rapeseed_prod', 'rapeseed_yield',
       'safflower_area', 'safflower_prod', 'safflower_yield', 'castor_area',
       'castor_prod', 'castor_yield', 'linseed_area', 'linseed_prod',
       'linseed_yield', 'sunflower_area', 'sunflower_prod', 'sunflower_yield',
       'soyabean_area', 'soyabean_prod', 'soyabean_yield', 'oilseeds_area',
       'oilseeds_prod', 'oilseeds_yield', 'sugarcane_area', 'sugarcane_prod',
       'sugarcane_yield', 'cotton_area', 'cotton_prod', 'cotton_yield'],
      dtype='object')

In [4]:
df = pd.read_json("/home/user/Documents/finalProject/Project-icrisat/icrisat-101-200.json")
df

,dist_code,year,state,state_name,dist_name,rice_area,rice_prod,rice_yield,wheat_area,wheat_prod,...,soyabean_yield,oilseeds_area,oilseeds_prod,oilseeds_yield,sugarcane_area,sugarcane_prod,sugarcane_yield,cotton_area,cotton_prod,cotton_yield
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,0.00,50.70,-1.00,-1.00,0.90,1.60,1777.78,0.0,0.0,0.0
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,0.00,113.55,-1.00,-1.00,0.80,1.20,1500.00,0.0,0.0,0.0
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,0.00,126.62,-1.00,-1.00,1.00,1.00,1000.00,0.0,0.0,0.0
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,0.00,114.14,14.90,130.54,1.00,1.90,1900.00,0.0,0.0,0.0
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,0.00,126.40,24.30,192.25,0.70,1.40,2000.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2009,14,Chhattisgarh,Bastar,626.66,682.46,1089.04,1.64,2.95,...,1500.00,10.51,4.76,452.90,1.03,0.34,330.10,0.0,0.0,0.0
96,2,2010,14,Chhattisgarh,Bastar,621.89,1184.98,1905.45,1.60,3.20,...,0.00,24.23,7.35,303.34,1.02,0.12,117.65,0.0,0.0,0.0
97,2,2011,14,Chhattisgarh,Bastar,627.73,772.88,1231.23,1.33,2.49,...,1000.00,22.57,7.50,332.30,0.54,0.34,629.63,0.0,0.0,0.0
98,2,2012,14,Chhattisgarh,Bastar,637.80,1341.33,2103.06,1.25,2.47,...,1333.33,21.95,7.10,323.46,0.45,0.16,355.56,0.0,0.0,0.0
99,2,2013,14,Chhattisgarh,Bastar,642.79,1265.91,1969.40,0.97,1.75,...,1000.00,20.29,6.67,328.73,0.52,0.14,269.23,0.0,0.0,0.0

In [3]:
df = pd.read_json('/home/user/Documents/finalProject/Project-icrisat/icrisat-201-300.json')
df

,dist_code,year,state,state_name,dist_name,rice_area,rice_prod,rice_yield,wheat_area,wheat_prod,...,soyabean_yield,oilseeds_area,oilseeds_prod,oilseeds_yield,sugarcane_area,sugarcane_prod,sugarcane_yield,cotton_area,cotton_prod,cotton_yield
0,4,2010,14,Chhattisgarh,Bilaspur,705.67,1333.61,1889.83,24.88,30.13,...,1305.61,38.95,34.37,882.56,1.18,0.27,232.46,0.00,0.0,0.0
1,4,2011,14,Chhattisgarh,Bilaspur,749.08,1557.35,2079.01,19.08,26.28,...,918.21,35.34,24.82,702.35,1.05,0.69,657.17,0.00,0.0,0.0
2,4,2012,14,Chhattisgarh,Bilaspur,747.27,1746.82,2337.61,18.70,27.31,...,1481.15,36.12,33.55,928.85,1.26,0.30,240.21,0.00,0.0,0.0
3,4,2013,14,Chhattisgarh,Bilaspur,726.15,1577.16,2171.95,19.88,26.97,...,1233.70,35.07,28.99,826.73,1.49,0.36,237.88,0.00,0.0,0.0
4,4,2014,14,Chhattisgarh,Bilaspur,728.84,1683.92,2310.43,18.11,28.15,...,582.25,34.82,20.23,581.06,1.86,1.18,633.11,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,2001,14,Chhattisgarh,Surguja,384.88,513.26,1333.56,25.00,33.18,...,800.00,50.81,24.53,482.78,1.03,0.33,320.39,0.01,0.0,0.0
96,6,2002,14,Chhattisgarh,Surguja,377.85,257.13,680.51,23.69,29.71,...,428.57,48.35,23.69,489.97,0.89,0.27,303.37,0.00,0.0,0.0
97,6,2003,14,Chhattisgarh,Surguja,383.94,503.40,1311.14,25.36,29.24,...,750.00,79.24,28.51,359.79,1.14,0.36,315.79,0.00,0.0,0.0
98,6,2004,14,Chhattisgarh,Surguja,380.93,374.25,982.46,24.13,24.32,...,750.00,81.26,30.34,373.37,1.27,0.37,291.34,0.00,0.0,0.0
99,6,2005,14,Chhattisgarh,Surguja,380.93,374.25,982.46,24.13,24.32,...,750.00,81.09,27.52,339.38,1.27,0.37,291.34,0.00,0.0,0.0

In [ ]:
df = pd.read_json()
df

In [ ]:
df = pd.read_json()
df

In [5]:
df = pd.read_json("/home/user/Downloads/Project-icrisat/icrisat_801-900.json")
df

,dist_code,year,state,state_name,dist_name,rice_area,rice_prod,rice_yield,wheat_area,wheat_prod,...,soyabean_yield,oilseeds_area,oilseeds_prod,oilseeds_yield,sugarcane_area,sugarcane_prod,sugarcane_yield,cotton_area,cotton_prod,cotton_yield
0,16,1986,6,Madhya Pradesh,Chhatarpur,22.0,10.0,454.55,104.0,139.0,...,321.43,35.8,7.3,203.91,0.20,0.5,2500.0,0,0,0
1,16,1987,6,Madhya Pradesh,Chhatarpur,20.0,15.0,750.00,119.0,117.0,...,555.56,40.3,15.4,382.13,0.20,0.4,2000.0,0,0,0
2,16,1988,6,Madhya Pradesh,Chhatarpur,22.3,16.4,735.43,122.1,161.4,...,766.67,47.1,17.8,377.92,0.10,0.2,2000.0,0,0,0
3,16,1989,6,Madhya Pradesh,Chhatarpur,19.0,13.6,715.79,92.9,104.7,...,642.86,55.5,21.3,383.78,0.10,0.3,3000.0,0,0,0
4,16,1990,6,Madhya Pradesh,Chhatarpur,20.0,18.7,935.00,122.3,168.9,...,774.19,58.7,18.1,308.35,0.08,0.2,2500.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18,1977,6,Madhya Pradesh,Rewa,119.2,79.1,663.59,125.3,88.0,...,0.00,44.9,6.4,142.54,0.10,0.1,1000.0,0,0,0
96,18,1978,6,Madhya Pradesh,Rewa,119.9,57.4,478.73,127.5,100.0,...,0.00,43.0,6.5,151.16,0.10,0.1,1000.0,0,0,0
97,18,1979,6,Madhya Pradesh,Rewa,115.0,3.4,29.57,106.8,45.0,...,0.00,17.8,0.5,28.09,0.00,0.0,0.0,0,0,0
98,18,1980,6,Madhya Pradesh,Rewa,117.8,60.0,509.34,131.3,129.6,...,0.00,29.1,5.8,199.31,0.10,0.2,2000.0,0,0,0
99,18,1981,6,Madhya Pradesh,Rewa,121.7,66.3,544.78,129.6,95.1,...,0.00,29.6,5.9,199.32,0.00,0.0,0.0,0,0,0

In [6]:
df = pd.read_json("/home/user/Downloads/Project-icrisat/icrisat_901-1000.json")

In [6]:
df

,dist_code,year,state,state_name,dist_name,rice_area,rice_prod,rice_yield,wheat_area,wheat_prod,...,soyabean_yield,oilseeds_area,oilseeds_prod,oilseeds_yield,sugarcane_area,sugarcane_prod,sugarcane_yield,cotton_area,cotton_prod,cotton_yield
0,16,1986,6,Madhya Pradesh,Chhatarpur,22.0,10.0,454.55,104.0,139.0,...,321.43,35.8,7.3,203.91,0.20,0.5,2500.0,0,0,0
1,16,1987,6,Madhya Pradesh,Chhatarpur,20.0,15.0,750.00,119.0,117.0,...,555.56,40.3,15.4,382.13,0.20,0.4,2000.0,0,0,0
2,16,1988,6,Madhya Pradesh,Chhatarpur,22.3,16.4,735.43,122.1,161.4,...,766.67,47.1,17.8,377.92,0.10,0.2,2000.0,0,0,0
3,16,1989,6,Madhya Pradesh,Chhatarpur,19.0,13.6,715.79,92.9,104.7,...,642.86,55.5,21.3,383.78,0.10,0.3,3000.0,0,0,0
4,16,1990,6,Madhya Pradesh,Chhatarpur,20.0,18.7,935.00,122.3,168.9,...,774.19,58.7,18.1,308.35,0.08,0.2,2500.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18,1977,6,Madhya Pradesh,Rewa,119.2,79.1,663.59,125.3,88.0,...,0.00,44.9,6.4,142.54,0.10,0.1,1000.0,0,0,0
96,18,1978,6,Madhya Pradesh,Rewa,119.9,57.4,478.73,127.5,100.0,...,0.00,43.0,6.5,151.16,0.10,0.1,1000.0,0,0,0
97,18,1979,6,Madhya Pradesh,Rewa,115.0,3.4,29.57,106.8,45.0,...,0.00,17.8,0.5,28.09,0.00,0.0,0.0,0,0,0
98,18,1980,6,Madhya Pradesh,Rewa,117.8,60.0,509.34,131.3,129.6,...,0.00,29.1,5.8,199.31,0.10,0.2,2000.0,0,0,0
99,18,1981,6,Madhya Pradesh,Rewa,121.7,66.3,544.78,129.6,95.1,...,0.00,29.6,5.9,199.32,0.00,0.0,0.0,0,0,0